{% extends "base_page.html" %}

{% block main-content %}

<section class="form-wrapper">
    <section class="login-form">
        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
            {% else %}
            <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="tag-input">
              {{ form.username.label_tag }}
              {{ form.username }}
            </div>
            <div class="tag-input">
              {{ form.password.label_tag }}
              {{ form.password }}
            </div>
            <div>
              <input class="button" type="submit" value="login" />
            </div>
        </form>

        {# Setup the password_reset view in URLconf #}
        <p id="lost-password"><a href="#">Lost password?</a></p>
    </section><!-- end login-form -->
</section> <!-- end of form-wrapper -->

{% endblock %}
