<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  {% block title %}{% endblock %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="margin: 0; padding: 0;">
 <table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
   <td>
     <table align="center" border="1" cellpadding="0" cellspacing="0" width="600px" style="border-collapse: collapse;">
      <tr>
        <td bgcolor="#ffffff" style="padding: 25px 30px;">
         <table border="0" cellpadding="0" cellspacing="0">
          {% block email_body %}{% endblock %}
         </table>
       </td>
      </tr>
      <tr>
       <td style="padding: 20px 15px;">
         <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td width="35%" style="padding: 10px;">
             <img src="http://carhire.pythonanywhere.com/static/images/car-hire-logo-1.png" alt="Company Logo" width="100%" height="auto"/>
             &reg; Car Hire Company 2018
            </td>
            <td align="right" width="60%" style="padding: 10px;">
            <table border="0" cellpadding="0" cellspacing="10px">
             <tr>
               <tr>
                <td>
                 <a href="#" style="text-decoration:none">
                   <i class="fa fa-phone-square"></i>+353-1-000000
                 </a>
                </td>
               </tr>
               <tr>
                <td>
                 <a href="#" style="text-decoration:none">
                   <i class="fa fa-twitter-square"></i>@carhire
                 </a>
                </td>
               </tr>
               <tr>
                 <td>
                   <a href="#" style="text-decoration:none">
                     <i class="fa fa-facebook-square"></i>carhire
                   </a>
                 </td>
               </tr>
             </tr>
            </table>
           </td>
          </tr>
         </table>
       </td>
      </tr>
     </table>
   </td>
  </tr>
 </table>
</body>
</html>
